<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список стран</title>
</head>
<body>
    {% for alpha in alphabet%}
    <a href = "{% url 'count-list-a' alpha%}"> {{ alpha }} </a>
    {% endfor %}
    <h1>Список стран</h1>
    <ol start = "{{start}}">
        {% for count in countries%}
        <li ><a href = "{% url 'country' count.country%}"> {{ count.country }} </a></li>
        {% endfor %}
    </ol>
    {% for p in pags%}
    <a href = "{% url 'count-list' p.numer%}"> {{ p.name }} </a>
    {% endfor %}
</body>
</html>